---
import Layout from '../layouts/Layout.astro';
import top from '../assets/WTS-Hero.webp';
import middle from '../assets/WTS-sketch.webp';
import bottom from '../assets/WTS-Paper.webp';
import alt from '../assets/Index-WTS.webp';
---

<Layout>
	<main>
		<div id='hero'>
			<h1>
				Logo Design,<br />
				Brand Identity
			</h1>
		</div>
		<div id='text'>
			<h2>We belong among the wildflowers,</h2>
			<p>
				Wildflower Therapy Services works with children, adolescents, and adults
				who are experiencing barriers to living the life they want to live. This
				brand design was hand crafted for a growing practice that helps you
				navigate a path forward.
				<br /><br />
				<span class='thin'>Looman Design & Development</span>
			</p>
		</div>
		<div id='middle'></div>
		<div id='bottom'></div>
	</main>
</Layout>

<style
	define:vars={{
		top: `url(${top.src})`,
		middle: `url(${middle.src})`,
		bottom: `url(${bottom.src})`,
		alt: `url(${alt.src})`,
	}}
>
	main {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		max-width: 1920px;
	}
	#hero {
		box-sizing: border-box;
		grid-column: 1 / span 2;
		background-image: var(--top);
		height: 90vh;
		display: grid;
		align-items: end;
		color: #fff;
		padding: 60px;
		font-size: 60px;
		background-position: center; /* Center the image */
		background-size: cover; /* Resize the background image to cover the entire container */
	}
	#hero > h1 {
		font-size: 60px;
	}
	#text {
		font-family: 'Montserrat';
		color: rgba(117, 173, 130, 1);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#text > * {
		max-width: 400px;
	}
	#text > h2 {
		font-weight: 700;
	}
	#text > p {
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		letter-spacing: -1.5%;
	}
	#text > p > .thin {
		padding-top: 16px;
		font-weight: 100;
		color: rgba(117, 173, 130, 1);
	}
	#middle {
		width: 100%;
		height: 90vh;
		background-image: var(--middle);
		height: 90vh;
		background-size: cover; /* Resize the background image to cover the entire container */
	}
	#bottom {
		grid-column: 1 / span 2;
		width: 100%;
		height: 90vh;
		background-image: var(--bottom);
		height: 90vh;
		background-size: cover; /* Resize the background image to cover the entire container */
	}
	@media only screen and (max-width: 843px) {
		main {
			grid-template-columns: 1fr;
		}
		#hero,
		#bottom {
			grid-column: 1 / 2;
			background-size: cover;
		}
		#hero {
			padding: 8px;
			background-image: var(--alt);
		}
		#hero > h1 {
			font-size: 40px;
			stroke-width: 2px;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: rgba(117, 173, 130, 1);
		}
		#text {
			padding: 32px 48px;
		}
		#middle,
		#bottom {
			height: 50vh;
		}
	}
</style>
