---
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Julie Looman | Graphic Designer</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: Futura;
		padding: 0px;
		margin: 0px;
		width: 100vw;
		width: 100lvw;
		height: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
</style>
